.DS_Store
.bundle
.powenv
.sass-cache
config/certs
coverage
db/*.sqlite3
log/*
public/.htaccess
public/*-embed.html
public/*-plugin.html
public/javascripts/purl_embed_new.js
tmp/

config/settings.local.yml
config/settings/*
config/environments/*.local.yml
