<div class="row">
  <div class="col-12">
    <h1 class="py-2"><%= display_title %></h1>
  </div>
</div>

<% unless withdrawn? %>
  <% if embeddable? %>
    <div class="upper-record-metadata row">
      <div class="col-md-12">
        <%= render 'embed' %>
      </div>
    </div>
  <% end %>

  <div class="record-metadata row gx-5">
    <%= render Show::BodyComponent.new(version:) %>
    <%= render Show::SidebarComponent.new(version:, purl:) %>

  </div>
<% end %>
