<%= render SectionComponent.new(label: 'Versions', label_id:) do %>
  <%= render TableComponent.new(label_id:) do %>
    <tbody>
      <%= render VersionRowComponent.with_collection(versions, requested_version: @version) %>
    </tbody>
  <% end %>
  <p>Each version has a distinct URL, but you can use this PURL to access the latest version.<br>
    <%= link_to embeddable_url, embeddable_url %>
  </p>
<% end %>
