<% if available? %>
  <% if requested_version? %>
    You are viewing this version
  <% else %>
    <%= link_to 'View', version %>
  <% end %>
  | <a href="#" data-action="click->clipboard#copy">Copy URL</a>
<% else %>
  <%= state.capitalize %>
<% end %>
