<% content_for :title, print_title_value() + ' - ' %>

<div id="pane-toc-metadata">
  <div id="links-and-metadata">
		<%= render(:partial => "purl/citation_info_dc" ) %>
		<%= render(:partial => "purl/sidebar_navigation" ) %>
  </div>
  <%= render :partial => 'purl/image/toc_and_metadata' %>
</div>

<%= render :partial => 'purl/image/pane_img_viewer' %>