<div id="footer">
	<div id="footer-show-hide"></div>	
	<div id="footer-contents" style="display: none;">
		<div id="footer-links">
				<a href="http://www.stanford.edu">Stanford University Home</a>
				<a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
				<a href="http://www.stanford.edu/search/">Search Stanford</a>
				<a href="http://www.stanford.edu/site/terms.html">Terms of Use</a>
				<a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
			</br>
				&copy; Stanford University, Stanford, California 94305. (650) 723-2300					
		</div>
	</div>
</div>