<div id="pane-img-viewer">
  <div id="img-viewer-metadata">
		<% unless (@purl.titles.nil?) %>
		  <%= @purl.titles %> 
		<% end %>		  
		<span id="img-viewer-item-label"></span>
	</div>
  <div id="img-viewer-links">
    <div style="float: left;">                  
      <a class="viewer-nav-links" href="javascript:viewTOC();">&larr; Return to TOC</a>      
      Available sizes: 
    </div>
    <ul>
      <li>
        <a id="small-img-viewer" href="#"><span class="obscure">View the</span> small <span class="obscure"> size of image </span><span class="obscure" id="small-img-viewer-id"></span></a> <span id="small-size-img-viewer" class="img-size"></span>&nbsp;
        <a id="small-img-viewer-download"><span class="obscure">Download the small size of image </span><span class="obscure" id="small-img-viewer-download-id"></span><img src="images/icon-download.png" alt="" title=""/></a> 
      </li>
      <li>
        <a id="medium-img-viewer" href="#"><span class="obscure">View the</span> medium <span class="obscure"> size of image </span><span class="obscure" id="medium-img-viewer-id"></span></a> <span id="medium-size-img-viewer" class="img-size"></span>&nbsp;
        <a id="medium-img-viewer-download"><span class="obscure">Download the medium size of image </span><span class="obscure" id="medium-img-viewer-download-id"></span><img src="images/icon-download.png" alt="" title=""/></a>
      </li>
      <li>
        <a id="large-img-viewer" href="#"><span class="obscure">View the</span> large <span class="obscure"> size of image </span><span class="obscure" id="large-img-viewer-id"></span></a> <span id="large-size-img-viewer" class="img-size"></span>&nbsp;
        <a id="large-img-viewer-download"><span class="obscure">Download the large size of image </span><span class="obscure" id="large-img-viewer-download-id"></span><img src="images/icon-download.png" alt="" title=""/></a>
      </li>                
			<li>
        <a id="zoom-img-viewer" href="#" title="Zoom View">zoom view<span class="obscure"> of image 1</span></a>                				
			</li>
    </ul>

		<% if @purl.deliverable_files.length > 1 %>
    <div class="img-viewer-nav">
      <a id="img-viewer-prev" class="viewer-nav-links">&laquo; Previous Image</a>  
      <span id="img-viewer-pagination"></span>
      <a id="img-viewer-next" class="viewer-nav-links">Next Image &raquo;</a>
    </div>
    <% end %>
  </div>
  <div id="img-viewfinder">
      <img id="img-canvas" src="" title="" alt="" />
			<div id="zpr-frame" style="display: none;"></div>
  </div>            
</div>
