<div id="toc-and-metadata">
  <h3 class="obscure">Table of contents</h3> 

  <div id="list-gallery-toggle-box" style="display:none;">
	  <img id="icon-list-view" src="images/icon-list-view-inactive.png" alt="">
	  <img id="icon-gallery-view" src="images/icon-gallery-view-active.png" alt="">
  </div>

  <%= render :partial => 'purl/image/gallery_view' %>
  <%= render :partial => 'purl/rights_and_usage' %>
</div>
