<div id="toc-and-metadata">
  <h3 class="obscure">Table of contents</h3> 

  <div id="list-gallery-toggle-box" style="display:none;">
    <%= image_tag 'icon-list-view-inactive.png', id: 'icon-list-view', alt: '' %>
    <%= image_tag 'icon-gallery-view-active.png', id: 'icon-gallery-view', alt: '' %>
  </div>

  <%= render :partial => 'purl/image/gallery_view' %>
  <%= render :partial => 'purl/rights_and_usage' %>
</div>
