#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

#footer-show-hide {
  background: transparent url('/images/icon-img-footer-show.png') no-repeat 0px 0px;
  cursor: pointer;
  float: right;
  height: 32px;
  margin-right: 1%;
  width: 32px;
  z-index: 2000;
}

#footer-contents {
  background-color: #960b02;
  border-top: 1px solid #dc5542;
  clear: both;
  color: #fff;
  line-height: 2em;
  overflow: auto;
  padding: 10px 0;
  width: 100%;
  opacity:0.9;
  filter:alpha(opacity=90);
}

#footer-links {
  background: transparent url('/images/footer-stanford-logo.png') no-repeat 0px 6px;
  margin-left: 5%;
  padding-left: 170px;
  text-align: left;
}

#footer-links a {
  margin-right: 10px;
}

#footer a, #footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

#footer a:hover {
  border-bottom: 1px dotted #ccc;
}
