@charset "UTF-8";

body { margin: 0; padding: 0; }

.pe-container {
  color: #000;
  font: 11px/1.3em "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  overflow: auto;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
}

.pe-container a { color: #00388e /*#2E4F81*/; text-decoration:none; }
.pe-container a:hover { border-bottom: 1px dotted; }
.pe-container a:active { color: #4f4f4f; }

.pe-img-viewer {
  width: 100%;
}

.pe-cursor-pointer {
  cursor: pointer;
}

.pe-nav-contents {
  padding: 5px;
}

.pe-obscure {
  height: 1px;
  margin-left: -9999px;
  position: absolute;
  width: 1px;
}

.pe-h-nav {
  background: transparent url('/images/embed/pe-h-nav-bg.png') left top repeat-x;
  float: left;
  height: 72px;
  overflow: auto;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

.pe-h-nav-empty-img {
  cursor: 'auto';
  height: 40px;
  width: 65px;
}

.pe-h-nav a:hover {
  border-width: 0;
}

.pe-h-nav-prev img, .pe-h-nav-next img {
  cursor: pointer;
  float: left;
  padding: 20px 8px 0px 8px;
}

.pe-h-nav-img {
  display: inline;
  float: left;
  margin: 1px 3px;
  padding: 8px 2px 2px 2px;
}

.pe-h-nav-selected-tab {
  background-color: #fff;
  border: 1px solid #bbb;
  float: left;
  min-height: 46px;
  padding: 4px;
  position: relative;
  text-align: center;
}

.pe-h-nav-selected-tab:after, .pe-h-nav-selected-tab:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 50%;
  margin-left: -8px;
}

.pe-h-nav-selected-tab:after {
  border-width: 8px;
  border-top-color: #fff;
  top: 98%;
}

.pe-h-nav-selected-tab:before {
  border-width: 8px;
  border-top-color: #bbb;
  top: 100%;
}

.pe-h-nav-selected-tab img {
  padding-top: 2px;
}

.pe-v-nav {
  border-right: 0px dotted #aaa;
  clear: left;
  float: left;
  margin: 5px 10px 0 0;
  padding: 5px 0;
  width: 180px;
}

.pe-v-nav-selected-img {
  border: 1px solid #a2000a;
  border-top: 2px solid #a2000a;
  overflow: auto;
  padding: 10px;
  text-align: center;
  /*width: 170px;*/
}

.pe-v-nav-img {
  text-align: center;
}

.pe-h-nav-pagination {
  background-color: #e6e6e6;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  float: left;
  margin: 20px 0 0 10px;
  padding: 2px 8px;
}

.pe-v-nav-img-size {
  color: #777;
  font-size: .9em;
}


.pe-v-nav li {
  margin-bottom: 15px;
}

.pe-v-nav a:hover {
  border: 0;
}

.pe-icon-stanford-only {
  margin-left: 5px;
}


.pe-v-nav-sizes {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: left;
  width: 200px;
}

.pe-v-nav-sizes li {
  width: 160px;
}

.pe-v-nav-sizes-links {
  float: left;
  /*padding: 4px 0;*/
  width: 125px;
}

.pe-v-nav-sizes-download {
  float: left;
  /*padding: 4px 0;*/
  width: 30px;
}

.pe-img-viewfinder {
  clear: both;
  display: block;
  float: left;
  overflow: auto;
  margin-top: 5px;
}

img.pe-img-canvas {
  max-height: none !important;
  max-width: none !important;
}

.pe-download-icon {
  background: transparent url('/images/icon-download.png') left top no-repeat;
  margin-left: 20px;
  padding-left: 15px;
}

a.active .pe-download-icon, a:visited .pe-download-icon {
  text-decoration: none;
}

.pe-dd-cselect {
  float: left;
}

.pe-img-canvas {
  clear: both;
  margin-top: 5px;
}

#pe-zpr-frame {
  z-index: 5000;
}

.pe-purl-url {
  background-color: transparent;
  bottom: 0;
  border-top: 1px dotted #ccc;  display: block;
  padding: 4px 0;
  position: absolute;
  text-indent: 5px;
  width: 100%;
}
