@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* -- end css reset -- */

/*  Image Stacks  */

a { color: #00388e /*#2E4F81*/; text-decoration:none; }
a:hover { border-bottom: 1px dotted; }
a:active { color: #4f4f4f; }

body {
  background: #474747 url(../images/purl-image-background.png) top left repeat-x;
  color: #000000;
	font: 11px/1.3em "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	text-align: center;
}

h1 {
	color: #f6f6f6;
	filter: dropshadow(color=#333333, offx=-1, offy=-1);
	font: normal normal normal 1.9em "Myriad Pro", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	text-shadow: -1px -1px 0px #333;
}

h2 {
  font-size: 1.4em;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0 0 .5em 0;
}

h3 {
  font-size: 1.1em;
	font-weight: normal;
}

#container {
	margin: 0 auto;
  overflow: hidden;
  position: relative;
	text-align: left;
	width: 90%;
}

#banner {
  background: url('../images/sulair_rosette_30x30.png') top left no-repeat;
	height: 35px;
	margin: 8px 0 4px 0;
	padding-left: 40px;
}

#banner h1 {
  padding-top: 6px;
}

#contents {
  position: relative;
  width: 100%;
}

#panes-container {
  overflow: auto;
  position: relative;
  width: 200%;
}

#pane-toc-metadata {
  background: #fff url(../images/contents_bg.png) top left repeat-x;
  height: auto;
  overflow: auto;
  position: absolute;
  padding: 0 0 20px 0;
  width: 100%;
}

#pane-img-viewer {
  background: #fff url(../images/contents_bg.png) top left repeat-x;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#links-and-metadata {
	margin: 20px 30px 10px 30px;
	overflow: auto;
}

#links-column {
	border-left: 1px dotted #aaa;
	margin-top: 30px;
	padding: 8px 0 8px 15px;
	float: right;
	width: 14%;
}

#links-column ul {
  list-style-type: disc;
  padding-top: 6px;
}

#links-column li {
  color: #555;
  line-height: 1.6em;
  margin-left: 15px;
  padding: 0 0 5px 0;
}

#rights-metadata {
	padding-top: 10px;
}

#title-metadata, #rights-metadata {
	width: 82%;
  float: left;
}

#rights-metadata {
	width: 100%;
}

#title-metadata dl, #rights-metadata dl {
  margin: 15px 0;
}

#title-metadata dt, #rights-metadata dt {
  clear: both;
  color: #555555;
  float: left;
  padding: 2px 0;
  width: 12em;
}

#title-metadata dd, #rights-metadata dd {
  line-height: 1.5;
  margin-left: 12em;
  padding: 2px 0px;
}

#title-metadata dd hr {
  border-width: 0;
  margin: 7px 0;
}

#title-metadata dd p, #rights-metadata dd p {
  margin-bottom: 8px;
}

#toc-and-metadata {
  clear: left;
  overflow: auto;
  margin: 10px 30px 0 30px;
  padding-top: 10px;
}

#list-gallery-toggle-box {
	padding-right: 10px;
	text-align: right;
}

#gallery-pagination {
	padding: 10px 0;
	text-align: left;
}

ol#toc {
  float: left;
  width: 100%;
}

ol#toc > li {
  background: #fff url('../images/item-header-bg.png') left 2px repeat-x;
  border: 1px solid #ccc;
  margin: 5px 5px 0 0;
  overflow: auto;
  width: 400px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#gallery-content {
	float: left;
	width: 100%;
}

ol.gallery {
  float: left;
  width: 100%;
}

ol.gallery  li {
  background: #fff url('../images/gallery-item-bg.png') left bottom repeat-x;
  border: 1px solid #ccc;
  float: left;
  margin: 5px 5px 0 0;
  overflow: auto;
  padding: 5px;
  text-align: center;
  width: 240px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

ol.gallery .img-block {
	height: 240px;
	position: relative;
	width: 240px;
}

.img-block {
	background: #fff url('../images/loader_16x16.gif') center center no-repeat;
}

.img-block a {
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.img-block a:hover {
	border: 0;
}

.img-block-thumb {
	width: 240px;
}

.img-group-nav {
	height: 10px;
	padding: 10px 0 10px 0;
}

.img-group-nav a:hover {
	border: 0;
}

.img-group-label-container {
	padding: 5px;
}

.gallery-img-nav-icon {
	padding: 0 2px;
}

a.item-header {
  background: transparent url('../images/icon-show.png') 378px 16px no-repeat;
  color: #000;
  display: block;
  outline: none;
  overflow: auto;
  padding: 5px 5px 0 5px;
}


ol#toc > li > a.item-header-hide {
  background-image: url('../images/icon-hide.png');
}

#icon-gallery-view, #icon-list-view {
	cursor: pointer;
}

.gallery-page-nav-active {
	background-color: #930009;
	border: 1px solid #6f0108;
	color: #fff;
	padding: 2px 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

a.gallery-page-nav-link {
	border: 1px solid transparent;
	padding: 2px 4px;
	margin-right: 4px;
}

a:hover.gallery-page-nav-link {
	border: 1px solid #6f0108;
}

a.item-header:hover {
  border-width: 0;
}

.sq-thumbnail-img {
  float: left;
  padding: 2px 2px 5px 2px;
  height: 30px;
  width: 30px;
}

.img-item-label-container {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  width: 320px;
}

.icon-show-hide {
  float: right;
  width: 20px;
}

.icon-show-hide img {
  border-width: 0;
  margin-top: 12px;
  text-align: center;
}

.icon-show-hide img:hover, .sq-thumbnail img:hover {
  cursor: pointer;
}

.img-title {
  color: #333;
}

.img-options ul {
  border-top: 1px solid #ddd;
  clear: both;
  list-style-type: none;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.img-options li {
  float: left;
  line-height: 1.5em;
  width: 20%;
  text-align: center;
}

.img-size {
  color: #777;
  font-size: .9em;
}

.full-img-box {
  clear: both;
  padding: 10px 0 5px 0;
  text-align: center;
}

.full-img-box img {
  /*background-color: #f6f6f6;
  border: 1px solid #ccc;*/
  padding: 5px;
}

.img-item-label {
  color: #00388e;
  cursor: pointer;
}

.img-item-label:hover {
  border-bottom: 1px dotted;
  cursor: pointer;
}

#links-rights {
  float: left;
  padding: 18px 0 18px 18px;
  width: 27%
}

/*
#links-rights dl { margin: 0 0 1em 0em; }
#links-rights dt { clear: both; float: left; color: #555555; padding: 5px 0 0 0; margin-top: 5px; }
#links-rights dd { clear: both; float: left; padding: 2px 0 2px 0; width: 100%; }
*/

#img-viewfinder {
  /*background: url('../images/loader.gif') 30px 30px no-repeat;*/
  display: block;
  left: 206px;
  overflow: auto;
  position: absolute;
  top: 102px;
}

#img-canvas {
  margin: 10px;
}

#zpr-frame {
	left: 10px;
	position: absolute;
	top: 10px;
}

#img-viewer-metadata {
	float: left;
	line-height: 1.6;
	padding: 27px 10px 0 10px;
}

#img-viewer-links {
  clear: both;
  border-bottom: 1px solid #878787;
  float: left;
  height: 81px;
  margin: 0 10px;
  overflow: auto;
  padding: 20px 0px 0px 0px;
}

.viewer-nav-links {
  background-color: #A20001;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  padding: 4px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.available-sizes {
  color: #000;
  font-weight: bold;
  margin-right: 10px;
  padding: 4px 8px;
}

.viewer-nav-link-disable {
  background-color: #aaa;
  cursor: default;
}

.viewer-nav-links a:link, .viewer-nav-links a:active, .viewer-nav-links a:visited {
  color: #fff;
}

.img-viewer-nav {
	float: left;
	margin-left: 30px;
	text-align: center;
	width: 350px;
}

#img-viewer-prev, #img-viewer-next {
	float: left;
	padding: 0 8px;
}

#img-viewer-prev > img, #img-viewer-next > img {
	cursor: pointer;
	padding-top: 26px;
}

a#img-viewer-prev:hover, a#img-viewer-next:hover {
	border: 0;
}

.viewer-h-nav-img {
	display: inline;
	float: left;
	margin: 1px 3px;
	padding: 14px 2px 2px 2px;
}

#viewer-nav-selected-tab {
	background: #fff url('/images/bg-viewer-selected-tab.png') repeat-x 0px 0px;
	border-top: 1px solid #878787;
	border-right: 1px solid #878787;
	border-left: 1px solid #878787;
  border-bottom: 1px solid #878787;
	float: left;
	padding: 10px 10px 5px 10px;
	z-index: 10000;
}

#viewer-nav-selected-tab img {
	padding-top: 2px;
}

#viewer-sizes-nav {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 180px;
}

#viewer-sizes-nav li {
  width: 160px;
}

.viewer-sizes-links {
  float: left;
  padding: 4px 0;
  width: 125px;
}

.viewer-sizes-download {
  float: left;
  padding: 4px 0;
  width: 30px;
}

.viewer-selected-img {
	border: 2px solid #a2000a;
}

#viewer-v-nav {
	border-right: 0px dotted #aaa;
	float: left;
	margin: 5px 10px;
	padding: 5px 12px 5px 5px;
	width: 200px;
}

#viewer-v-nav-selected-img {
	border: 1px solid #a2000a;
	border-top: 2px solid #a2000a;
	overflow: auto;
	padding: 10px;
	text-align: center;
	width: 170px;
}

.viewer-v-nav-img {
	text-align: center;
}

#viewer-v-nav li {
	margin-bottom: 15px;
}

#viewer-v-nav a:hover {
	border: 0;
}

.icon-stanford-only {
	margin-left: 5px;
}

.obscure {
  height: 1px;
  margin-left: -9999px;
  position: absolute;
  width: 1px;
}

.sidebar-stmt {
	padding: 0 0 15px 0;
}

.cc_by, .cc_by_nc, .cc_by_nd, .cc_by_sa, .cc_by_nc_sa, .cc_by_nc_nd {
  background: transparent url('/images/cc_by.png') no-repeat 0px 0px;
  padding: 0 0 0 100px;
  min-height: 30px;
}

.cc_by_nc { background-image: url('/images/cc_by_nc.png'); }
.cc_by_nd { background-image: url('/images/cc_by_nd.png'); }
.cc_by_sa { background-image: url('/images/cc_by_sa.png'); }
.cc_by_nc_sa { background-image: url('/images/cc_by_nc_sa.png'); }
.cc_by_nc_nd { background-image: url('/images/cc_by_nc_nd.png'); }

.truncator-link { font-weight: bold; }
