@charset "UTF-8";

.pe-container { 
  color: #000; 
  font: 11px/1.3em "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  overflow: auto;
  position: relative; 
  text-align: left; 
  width: 100%;
  height: 100%;
}

.pe-container a { color: #00388e /*#2E4F81*/; text-decoration:none; }
.pe-container a:hover { border-bottom: 1px dotted; }
.pe-container a:active { color: #4f4f4f; }
  
.pe-img-viewer {
  width: 100%;
}

.pe-cursor-pointer {
  cursor: pointer;
}

.pe-obscure {
  height: 1px;
  margin-left: -9999px;
  position: absolute;
  width: 1px;
}

.pe-h-nav {  
  border-bottom: 1px solid #878787;
  float: left;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.pe-h-nav-empty-img {
  cursor: 'auto'; 
  height: 40;  
  width: 65; 
}

.pe-h-nav a:hover {
  border-width: 0;
}

.pe-h-nav-prev img, .pe-h-nav-next img {
  cursor: pointer;
  float: left;
  padding: 26px 8px 0 8px;
}

.pe-h-nav-img { 
  display: inline;
  float: left; 
  margin: 1px 3px;
  padding: 14px 2px 2px 2px;  
}

.pe-h-nav-selected-tab {
  background: #fff url('/images/bg-viewer-selected-tab.png') repeat-x 0px 0px;
  border: 1px solid #878787;
  border-bottom: 2px solid #878787;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;  
  float: left;  
  padding: 10px 10px 5px 10px;
  text-align: center;
}

.pe-h-nav-selected-tab img {
  padding-top: 2px;
}

.pe-h-nav-selected-img {
  border: 2px solid #a2000a;  
}

.pe-v-nav {
  border-right: 0px dotted #aaa;
  clear: left;
  float: left;
  margin: 5px 10px 0 0;
  padding: 5px 0;
  width: 180px;
}

.pe-v-nav-selected-img {
  border: 1px solid #a2000a;
  border-top: 2px solid #a2000a;
  overflow: auto;
  padding: 10px;
  text-align: center;
  /*width: 170px;*/
}

.pe-v-nav-img {
  text-align: center;
}

.pe-v-nav-img-size {
  color: #777;
  font-size: .9em;
}


.pe-v-nav li {
  margin-bottom: 15px;
}

.pe-v-nav a:hover { 
  border: 0;
}

.pe-icon-stanford-only {
  margin-left: 5px;
}


.pe-v-nav-sizes {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: left;
  width: 200px;
}

.pe-v-nav-sizes li {
  width: 160px; 
}

.pe-v-nav-sizes-links {
  float: left;
  padding: 4px 0;
  width: 125px; 
}

.pe-v-nav-sizes-download {
  float: left;
  padding: 4px 0;
  width: 30px;  
}

.pe-img-viewfinder {
  display: block;
  float: left;
  overflow: auto;
  margin-top: 10px;
}

.pe-img-canvas { 
}

#pe-zpr-frame {
}

