<nav class="navbar navbar-expand-md bg-dark bg-cardinal">
  <div class="container">
    <a
      class="mb-0 navbar-brand navbar-logo"
      href="https://library.stanford.edu"
      >Stanford University Libraries</a
    >
    <button
      class="navbar-toggler navbar-toggler-right collapsed"
      type="button"
      data-toggle="collapse"
      data-bs-toggle="collapse"
      data-target="#user-util-collapse"
      data-bs-target="#user-util-collapse"
      aria-controls="user-util-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-md-block d-none">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to '#feedback-form', class: 'nav-link', data: { bs_toggle: 'collapse', bs_target: '#feedback-form' } do %>
            Feedback
          <% end if show_feedback_form? %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="masthead bg-dark bg-cardinal">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-end pt-3 pb-1 pb-md-3 gap-2"
    >
      <div class="d-flex align-items-end gap-2 flex-grow-1">
        <span class="rosette-logo me-1 align-self-start flex-shrink-0" aria-hidden="true"></span>
        <div class="me-1 flex-grow-1">
          <div class="h1 my-0">
            <a href="/">Stanford Digital Repository</a>
          </div>
        </div>
      </div>
      <div class="navbars ms-md-auto bg-dark">
        <nav
          class="collapse navbar-collapse align-items-start justify-content-md-end navbar-expand-md d-md-flex flex-column flex-md-row"
          aria-label="Browse"
          id="user-util-collapse"
        >
          <ul class="navbar-nav d-md-none gap-0 w-100">
            <li class="nav-item">
              <%= link_to '#feedback-form', class: 'nav-link', data: { bs_toggle: 'collapse', bs_target: '#feedback-form' } do %>
                Feedback
              <% end if show_feedback_form? %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<% if show_feedback_form? %>
  <div id="feedback-form" class="feedback-form-container collapse">
    <turbo-frame id="feedback-form-frame" src="<%= new_feedback_form_path %>" loading="lazy">
    </turbo-frame>
  </div>
<% end %>
