<% document ||= @purl %>
<% access = render(partial: "access_metadata", locals: {document: document}) %>

<% if access.present? %>
<div class="section">
  <div class="section-heading">
    <h2>Access conditions</h2>
  </div>
  <div class="section-body">
    <dl>
      <%= access %>
    </dl>
  </div>
</div>
<% end %>