<div id="title-metadata">
  <% if @purl.has_mods %>
    <dl>
      <h2><%=render_mods_display(@purl.mods_display_object).title.first.html_safe%></h2>
      <%=render_mods_display(@purl.mods_display_object).body.html_safe%>
    </dl>
  <% end %>
</div>
