<% if document.containing_purl_collections.present? %>
  <%= render SectionComponent.new(label: 'Collection') do %>
    <% document.containing_purl_collections.each do |collection_document| %>
      <div class="mb-3">
        <p class="mb-0"><%= collection_document.title %></p>
        <% if collection_document.released_to?('Searchworks') %>
          <%= link_to('View other items in this collection in SearchWorks', collection_document.collection_items_link, class: 'su-underline') %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>