<%= render(:partial => "purl/citation_info_dc" ) %>
<%= render(:partial => "purl/sidebar_navigation" ) %>

<div id="filelist">         
  <iframe id="embed-flipbook" src='http://sul-reader.stanford.edu/flipbook2/embed.jsp?id=<%= @purl.pid %>' width='575px' height='400px' style='border: 1px solid #999; padding: 0; margin: 0;' ></iframe> <br/>
  <a href="javascript:ffs();">Full screen view</a>
</div>

<%= render(:partial => "purl/rights_and_usage" ) %>
