<p>
  &copy; 
  <%= link_to "Stanford University", "http://www.stanford.edu/" %>. Stanford, California 94305. (650) 725-1064. 
  <%= link_to "Terms of Use", "http://library.stanford.edu/about_sulair/termsofuse.html" %> | 
  <%= link_to "Copyright Complaints", "http://stanford.edu/site/copyright.html" %>	
</p>