<turbo-frame id="metrics-frame">
  <div class="metrics section">
    <div class="section-heading">
      <h2>Usage metrics</h2>
      <div>
        <div class="section-body">
          <% if document.metrics.present? %>
          <dl>
            <dt>Views</dt>
            <dd><%= number_with_delimiter document.metrics['unique_views'] %></dd>
          </dl>
          <% else %>
          <p>No usage metrics available.</p>
          <% end %>
          <p>
            Data collected since 11/20/23.
            <a href="https://sdr.library.stanford.edu/sdr-metrics">How are these metrics generated?</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
