<% document_notes = document.mods.note.select { |x| x.label =~ /Preferred citation/i } %>
<% if document_notes.present? %>
  <div class="section">
    <div class="section-body">
      <dl>
        <% document_notes.each do |notes| %>
          <%= mods_record_field(notes) %>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
