<% document ||= @purl %>
<% if (items = render(partial: "mods_upper_metadata_items", locals: {document: document})).present? %>
  <div class="section">
    <div class="section-body">
      <%= items %>
    </div>
  </div>
<% end %>
