<% fields = document.mods.mods_field(:title).fields.reject { |x| x.label =~ /^Title/i } +
            document.mods.resourceType + document.mods.form + document.mods.extent +
            document.mods.imprint + document.mods.language + document.mods.description +
            document.mods.cartographics
%>
<% if fields.present? %>
  <div class="section">
    <div class="section-heading">
      <h2>Description</h2>
    </div>
    <div class="section-body">
      <% fields.each do |field| %>
        <%= mods_record_field(field) %>
      <% end %>
    </div>
  </div>
<% end %>