<% document ||= @document %>
<% fields = document.mods.audience +
            document.mods.note.reject { |x| x.label =~ /Preferred citation/i } +
            document.mods.relatedItem + 
            document.mods.nestedRelatedItem +
            document.mods.identifier +
            document.mods.location
%>

<% if fields.present? %>
  <div class="section" id="<%= t('record_side_nav.bibliography_info.id') %>" data-side-nav-class="<%= t('record_side_nav.bibliography_info.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.bibliography_info.icon').html_safe %> Bibliographic information</h2>
    </div>
    <div class="section-body">
      <dl>
        <% fields.each do |field| %>
          <%= mods_record_field(field) {|value| format_mods_html(value, field: field) + with_stanford_only(value) } %>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>