<% fields = document.mods.abstract + document.mods.contents %>
<% if fields.present? %>
  <div class="section">
    <div class="section-heading">
      <h2>Abstract/Contents</h2>
    </div>
    <div class="section-body">
      <dl>
        <% fields.each do |abstract| %>
          <%= mods_record_field(abstract) %>
        <% end %>
        </dl>
    </div>
  </div>
<% end %>
