<% document_notes = document.mods.note.select { |x| x.label =~ /Preferred citation/i } %>
<% fields = document_notes + document.mods.collection %>
<% if fields.any? %>
  <div class="section">
    <div class="section-body">
      <dl>
        <% fields.each do |field| %>
          <%= mods_record_field(field) %>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
