<div id="rights-metadata">
  <dl>
    <%= print_field_value("use_and_reproduction_stmt", "Use and Reproduction", '', true).html_safe %>
    <%= add_copyright_symbol(print_field_value("copyright_stmt", "Copyright")) %>

	  <% unless @purl.cclicense_symbol.blank? %>
      <dt>License:</dt>
      <dd>
      	<%= get_license_html('cc', @purl.cclicense_symbol, @purl.cclicensetype) %>
	    </dd>
		<% end %>


	  <% unless @purl.odc_license.blank? %>
      <dt>License:</dt>
      <dd>
      	<%= get_license_html('odc', @purl.odc_license, @purl.odc_type) %>
	    </dd>
		<% end %>

  </dl>

</div>
