<% if not(@purl.catalog_key.nil? or @purl.catalog_key.empty?) %>
  <div id="links-column">
     &raquo; <a href="http://searchworks.stanford.edu/view/<%=@purl.catalog_key%>">View in SearchWorks</a>
	</div>
<% end %>                		
