<div id="footer">
  <div class="footer-contents">
    <div class="footer-sul">
      <div class="footer-logo">
        <a href="http://library.stanford.edu" target="_blank"><img src="/images/footer-sul-logo.png"></a>
      </div>
      <div class="footer-links">
        <a href="http://library.stanford.edu" target="_blank">Stanford University Libraries</a>
        <a href="http://searchworks.stanford.edu" target="_blank">SearchWorks</a>
        <a href="http://library.stanford.edu/ejournals" target="_blank">eJournals</a>
        <a href="http://library.stanford.edu/myawrap.html" target="_blank">My Account</a>
        <a href="http://library.stanford.edu/ask" target="_blank">Ask Us</a>
      </div>
    </div>
    <div class="footer-su">
      <div class="footer-logo">
        <a href="http://www.stanford.edu" target="_blank"><img src="/images/footer-stanford-logo.png"></a>
      </div>
      <div class="footer-links">
        <a href="http://www.stanford.edu" target="_blank">SU Home</a>
        <a href="http://visit.stanford.edu/plan/maps.html" target="_blank">Maps &amp; Directions</a>
        <a href="http://www.stanford.edu/search/" target="_blank">Search Stanford</a>
        <a href="http://www.stanford.edu/site/terms.html" target="_blank">Terms of Use</a>
        <a href="http://www.stanford.edu/site/copyright.html" target="_blank">Copyright Complaints</a>
        </br>&copy; Stanford University, Stanford, California 94305
      </div>
    </div>
  </div>
</div>