<div class="dialog">
  <h2>The item you requested is not yet available.</h2>
  <dl>
    <dt>Title:</dt>
	<% if( @purl.titles != nil ) %>
      <% @purl.titles.each do |title| %>
        <dd><%=title%></dd>
      <% end %>
    <% else %>
      <dd>&nbsp;</dd>
    <% end %>
    <dt>Author:</dt>
    <% if( @purl.authors != nil ) %>
      <% @purl.authors.each do |author| %>
        <dd><%=author%></dd>
      <% end %>
    <% else %>
      <dd>&nbsp;</dd>
    <% end %>
  </dl>
  <p>
	<% if( @release_date.nil? ) %>
      This document has not yet been released. It will be available at this URL and through Socrates and 
      SearchWorks when processing is completed.
 	<% else %>
	  This document is scheduled to be released on <%= @release_date %>. When released it will be available at this URL 
	  and through Socrates and SearchWorks when processing is completed.
	<% end %>
  </p>
</div>
