stacks:
  url: 'https://stacks.stanford.edu'
  iiif_profile: 'http://iiif.io/api/image/2/level2.json'

content_search:
  url:

document_cache_root: "<%= File.join(Rails.root, 'document_cache') %>"

resource_cache:
  enabled: true
  lifetime: <%= 1.hour %>

# These are URLs when running locally, but configured
# to the local file system on deployed environments
purl_resource:
  mods: 'https://purl.stanford.edu/%{druid}.mods'
  public_xml: 'https://purl.stanford.edu/%{druid}.xml'

embed:
  url: 'https://purl.stanford.edu/%{druid}'
  url_template: 'https://purl.stanford.edu/embed{.format}{?url*,application_options*}'
  iframe:
    url_template: 'https://embed.stanford.edu/iframe/{?url*}'
  application_options:
    hide_title: true
    hide_metadata: true

releases:
  - label: "View in SearchWorks"
    key: 'Searchworks'
    url: 'https://searchworks.stanford.edu/view/%{druid}'
  - label: 'View in EarthWorks'
    key: 'EarthWorks'
    url: 'https://earthworks.stanford.edu/catalog/stanford-%{druid}'

searchworks:
  url: 'https://searchworks.stanford.edu/view/'

landing_page_druids:
  - bb000kq3835
  - bb112zx3193
  - py305sy7961
  - bb537hc4022
  - cd366rw7886
  - bg730rr6720
  - bc854fy5899
  - mv660ws7416
  - bb023ts9016
  - bh538xp9013
  - bb737zp0787
  - dn665vh1697
  - bj057dg6517
  - fr352bj3947
  - cy496ky1984
  - nh329xv9953
  - mg662qq6088
  - km993dd6050
  - qz826pn3100
  - nd387jf5675
  - sy486tp5223
  - yx282xq2090
  - gx074xz5520
  - cz128vq0535
  - fp756wn9369
  - tg926kp6619
  - sf815vr1246
  - gb089bd2251

feedback:
  email_to: "cabeer@stanford.edu"

GOOGLE_ANALYTICS_ID: "X-123"

twitter:
  site: '@DigitalLib'

recaptcha:
  site_key: 6Lc6BAAAAAAAAChqRbQZcn_yyyyyyyyyyyyyyyyy
  secret_key: 6Lc6BAAAAAAAAKN3DRm6VA_xxxxxxxxxxxxxxxxx
