#feedback-form {
  border-bottom: 3px solid $sul-toolbar-border;
}

.feedback-alert {
  color: rgb(204, 0, 0);
  font-size: 1.2em;
  padding: 10px;
  border: 1px solid rgb(204, 0, 0);
  margin: 10px 0pt;
}
