*[class^='creativeCommons-'], *[class*='creativeCommons-'] {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 85px;
  max-width: 100%;
}
.creativeCommons-by {
  background-image: image_url('cc-by.png');
}
.creativeCommons-by-sa {
  background-image: image_url('cc-by-sa.png');
}
.creativeCommons-by-nd {
  background-image: image_url('cc-by-nd.png');
}
.creativeCommons-by-nc {
  background-image: image_url('cc-by-nc.png');
}
.creativeCommons-by-nc-sa {
  background-image: image_url('cc-by-nc-sa.png');
}
.creativeCommons-by-nc-nd {
  background-image: image_url('cc-by-nc-nd.png');
}
.creativeCommons-pdm {
  background-image: image_url('cc-pdm.png');
}

