.record-sections {
  .section {
    padding-bottom: 0;

    .section-heading h2 {
      span.sul-i {
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
}

.record-metadata, .upper-record-metadata {
  dt {
    width: auto;
  }
}


.upper-record-metadata {
  dl {
    @extend .row;
  }
  dt {
    @extend .col;
    flex-basis: auto;
  }
  dd {
    @extend .w-75;
    margin-left: auto;
  }
}

#contributors dd {
  display: flex;
  justify-content: space-between;
}

// Based on sul-embed
.stanford-only-text {
  background: url('stanford_s.png') no-repeat left;
  background: url('stanford_s.svg') no-repeat left, none;
  padding-left: 15px;
  margin-left: 5px;
}

.metrics dl {
  max-width: 40ch;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 0.5em;

  dt, dd {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: bold;
    font-size: inherit;
    color: inherit;
    text-transform: none !important;
  }
}
