#pre-footer {
  background-color: var(--sul-footer-background);
}

.su-global-footer {
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color-rgb: 255,255,255;

  color: var(--global-footer-color);
  background-color: rgb(var(--bs-primary-rgb));

  .su-global-footer__menu--policy {
    font-size: 0.9rem;
  }

  .su-global-footer__menu--global {
    font-weight: 600;
  }

  .su-global-footer__copyright {
    font-size: 0.8rem;
  }
}