.header-links {
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-decoration: none;

  a {
    font-weight: normal;
    padding-bottom: 3px;
    border-bottom: none;
  }
  a:hover {
    border-bottom: 3px solid rgb(var(--bs-primary-rgb));
  }
}

.sdr-brand {
  font-family: 'Source Sans 3';
  letter-spacing: normal;
  font-weight: 300;
  color: #fff;
}