#topnav-container {
  padding: 2px 0;
  position: relative;
}

#topnav {
  @extend .row;
  border: none;
  background: none;
  margin-bottom: 0;
  padding: 2px 0;

  .header-links {
    @extend .col-1;
    margin-left: auto;
    margin-top: 2px;
    a {
      font-weight: normal;
      margin-left: 15px;
      padding-bottom: 3px;
      color: $sul-topnavbar-link-color;
      border-bottom: none;
      &.first {
        margin-left: 0;
      }
    }
    a:hover {
      border-bottom: 3px solid $sul-topnavbar-link-color;
    }
  }

}

@include media-breakpoint-down(xs) {
  #topnav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
