<% content_for(:head) do %>
  <style>
  #examples, .mods {
    width: 80%;
    min-height: 200px;
    display: inline-block;
    text-align: left;
    padding: 5px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  textarea {
    vertical-align: top;
    width: 90%;
  }

  .view-mods {
    display: inline-block;
    text-align: left;
    width: 80%;
  }
</style>
<% end %>
<h3>Enter MODS XML</h3>
<%= form_with url: '/preview', method: 'POST', data: { controller: "preview" } do %>
  <textarea name='mods' data-preview-target="input"></textarea>
  <div id="mods" class="mods" contenteditable="true" data-preview-target="output"></div>
  <br><br>
  <button class='btn btn-primary btn-lg'>Show me the MODS!</button>
<% end %>
<div data-controller='reveal'>
  <a href="#examples" data-action="reveal#toggle">Examples</a><br>
  <div id="examples" style="display:none" data-reveal-target="area">
    <ol>
      <li>
        <textarea rows="6">
          <mods xmlns="http://www.loc.gov/mods/v3">
            <titleInfo>
              <title>Main Title of an Entry</title>
              <subTitle>the sub title of the entry</subTitle>
            </titleInfo>
          </mods></textarea>
              </li>
              <li>
                <textarea rows="8">
          <mods xmlns="http://www.loc.gov/mods/v3">
            <name>
              <namePart>Doe, John A., 1884-1938.</namePart>
              <role>
                <roleTerm>photographer</roleTerm>
              </role>
            </name>
          </mods>
        </textarea>
      </li>
    </ol>
  </div>
</div>
