<%# Layout for thumbs-nav-bottom %>

<div class="pe-img-viewer-thumbs-nav-bottom" style="display: none;">
  <div class="pe-nav-contents">
    <div class="pe-img-viewfinder">
      <img class="pe-img-canvas" src="" title="" alt="" />
      <div id="pe-zpr-frame"></div>
    </div>
    <div class="pe-dd-cselect"></div>
    <div class="pe-full-screen-nav">
      <img class="pe-full-screen-ctrl" src="<%= purl_server %>/images/icon-full-screen-expand.png" title="Toggle fullscreen layout">
    </div>
  </div>

  <% if @purl.deliverable_files.length > 1 %>
    <div class="pe-h-nav">
      <a class="pe-h-nav-prev"></a>
      <img class="pe-h-nav-img-01 pe-h-nav-img" src="">
      <div class="pe-h-nav-selected-tab">
        <img class="pe-h-nav-img-02 pe-h-nav-img pe-h-nav-selected-img" src=""> <br/>
      </div>
      <img class="pe-h-nav-img-03 pe-h-nav-img" src="">
      <a class="pe-h-nav-next"></a>
      <div class="pe-h-nav-pagination"></div>
    </div>
  <% end %>

  <div class="pe-purl-url">
    <a href="<%= purl_url %>" target="_blank"><%= purl_url %></a>
  </div>
  <div class="pe-full-screen-close"></div>
</div>
