:root {
  /* Colors
     https://identity.stanford.edu/design-elements/color/primary-colors/ */
  --stanford-cardinal-rgb: 143, 20, 20;
}

.bg-cardinal {
  --bs-dark-rgb: var(--stanford-cardinal-rgb);
}

.table {
  --bs-table-border-color: var(--bs-gray-500);
}

#main-container {
  /* keep the not available items with sufficent height. See db586ns4974 */
  min-height: calc(100vh - 323px);
}

.purl-embed-viewer {
  display: none;
  margin-bottom: 15px;
}

.embed-iframe {
  border: 0;
  width: 100%;
  height: 400px;
}

.record-sections {
  section {
    margin-bottom: 2rem;

    h2 {
      span.sul-i {
        font-size: 18px;
        margin-right: 5px;
      }
    }

    .section-body {
      /* prevent URLs from overflowing the "Abstract" area */
      overflow-wrap: break-word;

      th {
        padding-left: 0px;
        border-bottom-width: 0px;
        width: 20%;
      }

      th:first-letter {
        text-transform: uppercase;
      }

      tbody {
        tr:not(:first-of-type) th:not(.version-identifier) {
          /* Visibility hidden doesn't work here because it also hides the border */
          font-size: 0;
        }

        tr:first-of-type {

          th,
          td {
            border-top-width: 1px;
          }
        }

        td {
          border-bottom-width: 0px;
        }

        tr:last-of-type th,
        tr:last-of-type td {
          border-bottom-width: 1px;
        }

        >dl>dd:not(:last-child) {
          margin-bottom: 15px;
        }

        >dl>dd:last-child {
          margin-bottom: 0px;
        }

        dl.mods_display_related_item:not(:first-child) {
          margin-top: 20px;
        }

        dl.mods_display_related_item {
          margin-bottom: 0px;

          dt {
            font-weight: normal;
            font-style: italic;
            text-transform: capitalize;
          }

          dd {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

/* Based on sul-embed */
.stanford-only-text {
  background: url('stanford_s.png') no-repeat left;
  background: url('stanford_s.svg') no-repeat left, none;
  padding-left: 15px;
  margin-left: 5px;
}

.record-metadata {
  margin-bottom: 2em;
}

.version-updated-at, .version-identifier {
  white-space: nowrap;
}

.section-header {
  color: var(--stanford-cardinal);
}
