a {
  &.disabled {
    color: #ccc;
    cursor: not-allowed;
    text-decoration: none;
  }
}

body {
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
}

.su-underline {
	text-decoration: none;
  border-bottom: 1px dotted $sul-link-color-border;
}

h1 {
  font-family: 'dejavu_sansextralight';
}

h3 {
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 0 .4em 0;
}

dl {
  margin-bottom: 15px;
}

label {
  font-weight: normal;
}

.section {
  p, li {
    max-width: 45em;
  }
}