/**
 *= require 'common_footer'
 */

#footer {
  width: 100%;
  z-index: 1000;
}

.footer-contents {
  background-color: #960b02;
  border-top: 1px solid #dc5542;
  display: none;
  opacity:0.9;
  filter:alpha(opacity=90);
}
