.cc-by, .cc-by-nc, .cc-by-nd, .cc-by-sa, .cc-by-nc-sa, .cc-by-nc-nd, .cc-pdm {
  background: transparent image-url('cc_by.png') no-repeat 0px 0px;
  padding: 0 0 0 100px;
  min-height: 30px;
}

.cc-by-nc { background-image: image-url('cc_by_nc.png'); }
.cc-by-nd { background-image: image-url('cc_by_nd.png'); }
.cc-by-sa { background-image: image-url('cc_by_sa.png'); }
.cc-by-nc-sa { background-image: image-url('cc_by_nc_sa.png'); }
.cc-by-nc-nd { background-image: image-url('cc_by_nc_nd.png'); }
.cc-pdm { background-image: image-url('cc_pdm.png'); }
