@charset "UTF-8";
/* CSS Document */

/*
 *= require 'purl_common'
 *= require 'zpr'
 */

#container {
  overflow: hidden;
}

#panes-container {
  overflow: auto;
  position: relative;
  width: 200%;
}

#pane-toc-metadata {
  background: #fff image-url('contents_bg.png') top left repeat-x;
  height: auto;
  overflow: auto;
  position: absolute;
  padding: 0 0 20px 0;
  width: 100%;
}

#pane-img-viewer {
  background: #fff image-url('contents_bg.png') top left repeat-x;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#links-and-metadata {
	margin: 20px 30px 10px 30px;
}

#links-column {
	padding: 8px 0 8px 15px;
}

#links-column ul {
  list-style-type: disc;
  padding-top: 6px;
}

#links-column li {
  color: #555;
  line-height: 1.6em;
  margin-left: 15px;
  padding: 0 0 5px 0;
}

#gallery-content {
	float: left;
	width: 100%;
}

ol.gallery {
  float: left;
  width: 100%;
}

ol.gallery  li {
  background: #fff image-url('gallery-item-bg.png') left bottom repeat-x;
  border: 1px solid #ccc;
  float: left;
  margin: 5px 5px 0 0;
  overflow: auto;
  padding: 5px;
  text-align: center;
  width: 240px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

ol.gallery .img-block {
	height: 240px;
	position: relative;
	width: 240px;
}

.img-block {
	background: #fff image-url('loader_16x16.gif') center center no-repeat;
}

.img-block a {
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.img-block a:hover {
	border: 0;
}

.img-block-thumb {
	width: 240px;
}

.img-group-nav {
	height: 10px;
	padding: 10px 0 10px 0;
}

.img-group-nav a:hover {
	border: 0;
}

.img-group-label-container {
	padding: 5px;
}

.gallery-img-nav-icon {
	padding: 0 2px;
}

a.item-header {
  background: transparent image-url('icon-show.png') 378px 16px no-repeat;
  color: #000;
  display: block;
  outline: none;
  overflow: auto;
  padding: 5px 5px 0 5px;
}


ol#toc > li > a.item-header-hide {
  background-image: image-url('icon-hide.png');
}

#icon-gallery-view, #icon-list-view {
	cursor: pointer;
}

.gallery-page-nav-active {
	background-color: #930009;
	border: 1px solid #6f0108;
	color: #fff;
	padding: 2px 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

a.gallery-page-nav-link {
	border: 1px solid transparent;
	padding: 2px 4px;
	margin-right: 4px;
}

a:hover.gallery-page-nav-link {
	border: 1px solid #6f0108;
}

a.item-header:hover {
  border-width: 0;
}

.sq-thumbnail-img {
  float: left;
  padding: 2px 2px 5px 2px;
  height: 30px;
  width: 30px;
}

.img-item-label-container {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  width: 320px;
}

.icon-show-hide {
  float: right;
  width: 20px;
}

.icon-show-hide img {
  border-width: 0;
  margin-top: 12px;
  text-align: center;
}

.icon-show-hide img:hover, .sq-thumbnail img:hover {
  cursor: pointer;
}

.img-title {
  color: #333;
}

.img-options ul {
  border-top: 1px solid #ddd;
  clear: both;
  list-style-type: none;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.img-options li {
  float: left;
  line-height: 1.5em;
  width: 20%;
  text-align: center;
}

.img-size {
  color: #777;
  font-size: .9em;
}

.full-img-box {
  clear: both;
  padding: 10px 0 5px 0;
  text-align: center;
}

.full-img-box img {
  padding: 5px;
}

.img-item-label {
  color: #00388e;
  cursor: pointer;
}

.img-item-label:hover {
  border-bottom: 1px dotted;
  cursor: pointer;
}

#links-rights {
  float: left;
  padding: 18px 0 18px 18px;
  width: 27%
}

#img-viewfinder {
  display: block;
  left: 206px;
  overflow: auto;
  position: absolute;
  top: 102px;
}

.img-rights-and-usage {
  display: none;
  position: fixed;
  bottom: 0;
  height: 140px;
  padding: 0 20px;
  /*margin-bottom: 20px;*/
  margin-right: 10px;
}

.img-rights-and-usage #rights-metadata {
}

.img-rights-and-usage #rights-metadata dl {
  margin-bottom: 0px;
}

#img-canvas {
  margin: 0 10px;
}

#zpr-frame {
	left: 10px;
	position: absolute;
	/*top: 10px;*/
}

#img-viewer-pagination {
  clear: both;
  float: left;
}

#img-viewer-metadata {
	float: left;
	line-height: 1.6;
	padding: 17px 10px 0 10px;
}

#img-viewer-links {
  clear: both;
  border-bottom: 1px solid #878787;
  float: left;
  height: 81px;
  margin: 0 10px;
  overflow: auto;
  padding: 0px 0px 10px 0px;
}

.viewer-nav-links {
  background-color: #A20001;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  padding: 4px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.available-sizes {
  color: #000;
  font-weight: bold;
  margin-right: 10px;
  padding: 4px 8px;
}

.viewer-nav-link-disable {
  background-color: #aaa;
  cursor: default;
}

.viewer-nav-links a:link, .viewer-nav-links a:active, .viewer-nav-links a:visited {
  color: #fff;
}

.img-viewer-nav {
	float: left;
	margin-left: 30px;
	text-align: center;
	width: 350px;
}

#img-viewer-prev, #img-viewer-next {
	float: left;
	padding: 0 8px;
}

#img-viewer-prev > img, #img-viewer-next > img {
	cursor: pointer;
	padding-top: 26px;
}

a#img-viewer-prev:hover, a#img-viewer-next:hover {
	border: 0;
}

.viewer-h-nav-img {
	display: inline;
	float: left;
	margin: 1px 3px;
	padding: 14px 2px 2px 2px;
}

#viewer-nav-selected-tab {
	background: #fff image-url('bg-viewer-selected-tab.png') repeat-x 0px 0px;
	border-top: 1px solid #878787;
	border-right: 1px solid #878787;
	border-left: 1px solid #878787;
  border-bottom: 1px solid #878787;
	float: left;
	padding: 10px 10px 5px 10px;
	z-index: 10000;
}

#viewer-nav-selected-tab img {
	padding-top: 2px;
}

#viewer-sizes-nav {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 180px;
}

#viewer-sizes-nav li {
  width: 160px;
}

.viewer-sizes-links {
  float: left;
  padding: 4px 0;
  width: 125px;
}

.viewer-sizes-download {
  float: left;
  padding: 4px 0;
  width: 30px;
}

.viewer-selected-img {
	border: 2px solid #a2000a;
}

#viewer-v-nav {
	border-right: 0px dotted #aaa;
	float: left;
	margin: 5px 10px;
	padding: 5px 12px 5px 5px;
	width: 200px;
}

#viewer-v-nav-selected-img {
	border: 1px solid #a2000a;
	border-top: 2px solid #a2000a;
	overflow: auto;
	padding: 10px;
	text-align: center;
	width: 170px;
}

.viewer-v-nav-img {
	text-align: center;
}

#viewer-v-nav li {
	margin-bottom: 15px;
}

#viewer-v-nav a:hover {
	border: 0;
}

.icon-stanford-only {
	margin-left: 5px;
}
