@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}

/* remember to highlight inserts somehow! */
ins {
        text-decoration: none;
}
del {
        text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
}


/*  SearchWorks  */

body {background: #474747 url(../images/purl-image-background.png) top left repeat-x; text-align: center; font-size: 11px; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; line-height: 1.3em;   color: #000000;}
h1 {
	color: #f6f6f6;
	filter: dropshadow(color=#333333, offx=-1, offy=-1);
	font: normal normal normal 1.9em "Myriad Pro", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	text-shadow: -1px -1px 0px #333;
	padding-top: 6px;
}

h2 {font-size: 1.4em; font-weight: normal; margin: 0 0 .5em 0; line-height: 1.2em; padding-bottom: 10px;}
h3 {font-size: 1.1em; font-weight: normal;}

a  {color: #00388e /*#2E4F81*/; text-decoration:none;}
a:hover {border-bottom: 1px dotted;}
a:active {color: #4f4f4f;}

#container {
	margin: 0 auto;
  overflow: hidden;
  position: relative;
	text-align: left;
	width: 90%;
}

#header {height: 30px; overflow: hidden;}
#header img {padding-top: 4px; padding-left: 1px;}
#headerlinks {position: absolute; right: 0; top: 7px; width: auto;}

#headerlinks ul li {list-style-type: none; display: inline; padding: 0 0 0 15px;}

#headerlinks ul li a {color: #ffffff /*#52c1e1*/; text-transform: uppercase; text-decoration: none; font-size: 11px;}
#headerlinks ul li a:hover {border-bottom: 1px dotted;}

#banner {
  background: url('../images/sulair_rosette_30x30.png') top left no-repeat;
	height: 35px;
	margin: 8px 0 4px 0;
	padding-left: 40px;
}

#contents {
  background: #fff url(../images/contents_bg.png) top left repeat-x;
  padding: 20px 30px;
  position: relative;
  overflow: auto;
}

#metadata {float: right; width: 30%;}
.swlink {padding: 0 0 15px 0; margin: 0 0 15px 0; font-size: 1.1em; border-bottom: 1px dotted #cccccc;}

dl {margin: 0 0 1em 0;}
dt {clear: both; float: left; color: #555555; width: 7.5em; padding: 2px .5em 2px 0; text-overflow: ellipsis;}
dd {margin-left: 8em; padding: 2px 0px;}
dd img {vertical-align: middle;}


#filelist {
  float: left; width: 65%;
}
.embargo-block {
  background: url('/images/icon-info.png') left bottom no-repeat;
  border-top: 1px dotted #999;
  margin-top: 20px;
  padding: 8px 0 0 0;
  text-indent: 20px;
  width: 100%;
}
table#assets {border: 1px solid #787676; background-color: #FFFFFF; margin: 12px 0 20px 0;}
#assets th {
  text-align: left;
  font-size: 11px;
  padding: 5px;
  background-color: #222;
  background-image: url(/images/availability-header.png);
  background-repeat: repeat-x;
  color: #ffffff;
  text-shadow: -1px -1px 0px #666;
  filter: dropshadow(color=#333333, offx=-1, offy=-1)
}
#assets td {padding: 5px; background-color: #ffffff; border-bottom: 1px solid #cccccc;}
#assets a  {font-weight: bold;}
#assets td.file { width: 350px;}
#assets td.description { width: 550px;}
#assets td.access { width: 200px;}

.nowrap {white-space: nowrap;}

#copyright {clear: both; margin-top: 15px; padding-top: 15px; text-align: center;}
/*p {margin: 15px 0;}*/


/*#footer {color: #ffffff; text-align: center; margin: 0 0 35px 0;}*/
/*#footer p {margin: 10px 0; font-size: .9em;}*/
/*#footer a {color: #ffffff;}*/
/*#footer a:hover {color: #ffffff /*#52c1e1; border-bottom: 1px dotted;}*/

/*

highlight colour for browse by callnum:  #e5f1f4


*/


#title-metadata, #rights-metadata {
	width: 82%;
	float: left;
}

#title-metadata {
}

#rights-metadata {
	clear: both;

}

#title-metadata dl, #rights-metadata dl {
  margin: 0 0 0 0;
}

#title-metadata dt, #rights-metadata dt {
    float: left;
    color: #555;
    min-width: 9.5em;
    padding: 0 5px 0 0;
    text-align: left;
    width: 11em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}

#title-metadata dd, #rights-metadata dd {
  line-height: 1.5;
  margin-left: 12em;
  padding: 4px 0px;
}

#title-metadata dd hr {
  border-width: 0;
  margin: 7px 0;
}

#title-metadata dd p, #rights-metadata dd p {
  margin-bottom: 8px;
}

#links-column {
	border-left: 1px dotted #aaa;
	margin-top: 30px;
  padding: 8px 0 8px 15px;
	float: right;
	width: 14%;
}

#links-column ul {
  list-style-type: disc;
  padding-top: 6px;
}

#links-column li {
  color: #555;
  line-height: 1.6em;
  margin-left: 15px;
  padding: 0 0 5px 0;
}

.file_icon { float: left; }
.file_link { margin: 0px 0px 0px 40px;}

.cc_by, .cc_by_nc, .cc_by_nd, .cc_by_sa, .cc_by_nc_sa, .cc_by_nc_nd {
  background: transparent url('/images/cc_by.png') no-repeat 0px 0px;
  padding: 0 0 0 90px;
  min-height: 30px;
}
.cc_by_nc { background-image: url('/images/cc_by_nc.png'); }
.cc_by_nd { background-image: url('/images/cc_by_nd.png'); }
.cc_by_sa { background-image: url('/images/cc_by_sa.png'); }
.cc_by_nc_sa { background-image: url('/images/cc_by_nc_sa.png'); }
.cc_by_nc_nd { background-image: url('/images/cc_by_nc_nd.png'); }

.truncator-link { font-weight: bold; }

.icon-stanford-only {
	margin-bottom: -2px;
	margin-left: 2px;
}

/* footer
---------------------------------------------------------------------------- */

#footer {
  width: 100%;
  z-index: 1000;
}

.footer-contents {
  clear: both;
  color: #ccc;
  line-height: 1.8em;
  margin: 5px 0;
  overflow: auto;
  padding: 10px 0;
  width: 100%;
}

.footer-su, .footer-sul {
  clear: both;
  margin-left: 65px;
  overflow: auto;
  text-align: left;
}

.footer-sul {
  background: transparent url('/images/footer-sul-divider.png') left bottom no-repeat;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer-logo {
  float: left;
  margin-left: 15px;
  width: 120px;
}

.footer-su .footer-logo img {
  padding-top: 2px;
}

.footer-links {
  float: left;
}

.footer-sul .footer-links {
  padding-top: 2px;
}

.footer-links a {
  margin-right: 10px;
}

.footer-contents a, .footer-contents a:visited, .footer-contents a:hover {
  color: #ccc;
  text-decoration: none;
}

.footer-contents a:hover {
  /*border-bottom: 1px dotted #ccc;*/
}
