@import 'sul-styles/su_web_colors';
@import 'sul-styles/su_primary_colors';
@import 'sul-styles/variables';
@import 'sul-styles/sul_footer';

.sdr-brand {
  font-family: Source Sans Pro;
  letter-spacing: normal;
  margin-top: 0;
  padding-bottom: 0.3em;
  color: #fff;
}