// Colors
$boston-university-red: #cc0000;
$cadet-blue: #539a98;
$dark-cyan-lime-green: #008E69;
$dark-grayish-blue: #4d4f53;
$dark-grayish-orange: #524A42;
$dark-red: #A62F2F;
$darker-grayish-blue: #404246;
$darker-grayish-orange: #797169;
$darker-red: #7F0808;
$gray-41-percent: #696969;
$gray-46-percent: #767676;
$gray-70-percent: #b3b3b3;
$gray-80-percent: #ccc;
$gray-90-percent: #e6e6e6;
$mostly-pure-orange: #ff8000;
$off-green: #E1E6DF;
$public-note-yellow: #faf8d2;
$strong-cyan: #1AB590;
$strong-grayish-blue: #67696D;
$strong-red: #bf0000;
$white: #ffffff;

$sul-footer-bg-color: $color-beige-10;
$sul-topnavbar-link-color: $color-cardinal-red;
$sul-link-color: $color-gray;
$sul-link-color-border: $color-pantone-401;
$sul-pagination-active-bg: $gray-41-percent;
$sul-body-bg: $color-beige-05;
$sul-text-color: $color-black;
$sul-panel-bg: $white;
$sul-panel-border: $color-beige-30;
$sul-panel-border-bottom: $color-beige-30;
$sul-panel-heading-default: $color-beige-30;
$sul-btn-preview-bg: $cadet-blue;
$sul-h1-font-color: $color-gray;
$sul-h2-border-color: $color-beige-30;
$sul-skip-to-nav-bg: $color-beige-10;
$sul-toolbar-bg: transparent;
$sul-toolbar-border: $color-beige-40;
$btn-sul-toolbar-bar-color: $color-cardinal-red;
$btn-sul-toolbar-bar-hover-bg: $color-beige-30;
$sul-btn-disabled-color: $color-gray;
$sul-btn-disabled-opacity: 0.75;
$sul-tooltip-bg: $cadet-blue;
$sul-shadow-color: rgba(0, 0, 0, .2);

// Sizes
$gallery-document-width: 176px;
$gallery-document-height: 400px;
