// Colors
$color-black: #000;
$white: #ffffff;
$color-cardinal-red: #8c1515;
$color-blackish: #2e2d29;
$gray-41-percent: #696969;
$color-gray-60: #8a887d;
$color-pantone-401: #b6b1a9;
$color-beige-40: #d5d0c0;
$color-beige-30: #e3dfd5;
$color-beige-20: #e9e6df;
$color-beige-10: #f2f1eb;
$color-beige-05: #fbfbf9;

$sul-footer-bg-color: $color-beige-10;
$sul-footer-border-top-color: $color-beige-20;
$footer-height: 200px;
$sul-footer-shadow-color: rgba(0, 0, 0, 0.2);
$sul-footer-shadow: 0 4px 8px -8px $sul-footer-shadow-color inset;

$sul-footer-bg-color: $color-beige-10;
$sul-topnavbar-link-color: $color-cardinal-red;
$sul-link-color: #006CB8;
$sul-link-color-border: $color-pantone-401;
$sul-pagination-active-bg: $gray-41-percent;
$sul-body-bg: $color-beige-05;
$sul-text-color: $color-black;
$sul-h2-border-color: $color-beige-30;
$sul-skip-to-nav-bg: $color-beige-10;
$sul-toolbar-bg: transparent;
$sul-toolbar-border: $color-beige-40;
$btn-sul-toolbar-bar-color: $color-cardinal-red;
$btn-sul-toolbar-bar-hover-bg: $color-beige-30;
$sul-shadow-color: rgba(0, 0, 0, .2);

// Sizes
$gallery-document-width: 176px;
$gallery-document-height: 400px;
