// Colors
$boston-university-red: #cc0000;
$cadet-blue: #539a98;
$dark-cyan-lime-green: #008E69;
$dark-grayish-blue: #4d4f53;
$dark-grayish-orange: #524A42;
$dark-red: #A62F2F;
$darker-grayish-blue: #404246;
$darker-grayish-orange: #797169;
$darker-red: #7F0808;
$gray-41-percent: #696969;
$gray-46-percent: #767676;
$gray-70-percent: #b3b3b3;
$gray-80-percent: #ccc;
$gray-90-percent: #e6e6e6;
$mostly-pure-orange: #ff8000;
$off-green: #E1E6DF;
$public-note-yellow: #faf8d2;
$strong-cyan: #1AB590;
$strong-grayish-blue: #67696D;
$strong-red: #bf0000;
$white: #ffffff;

$sul-footer-bg-color: $color-beige-10;
$sul-topnav-bg-color: $color-cardinal-red;
$sul-navbar-brand-color: $color-cardinal-red;
$sul-topnavbar-link-color: $color-cardinal-red;
$sul-link-color: $color-gray;
$sul-link-color-border: $color-pantone-401;
$sul-access-font: $color-beige-05;
$sul-access-online-bg: $color-pantone-334;
$sul-access-location-bg: $color-pantone-405;
$sul-access-course-reserve-bg: $color-cardinal-red;
$sul-availability-table-head-background: $color-beige-10;
$sul-availability-table-cell-border: $color-beige-30;
$sul-availability-current-location-color: $color-cardinal-red;
$sul-availability-public-note-color: $public-note-yellow;
$sul-availability-status-text-color: $gray-46-percent;
$sul-accordion-summary-bg: $dark-grayish-blue;
$sul-accordion-summary-border: $darker-grayish-blue;
$sul-accordion-summary-gradient: $strong-grayish-blue;
$sul-accordion-online-bg: $color-pantone-334;
$sul-accordion-online-border: $dark-cyan-lime-green;
$sul-accordion-online-gradient: $strong-cyan;
$sul-accordion-location-bg: $color-pantone-405;
$sul-accordion-location-border: $dark-grayish-orange;
$sul-accordion-location-gradient: $darker-grayish-orange;
$sul-accordion-course-reserves-bg: $color-cardinal-red;
$sul-accordion-course-reserves-border: $darker-red;
$sul-accordion-course-reserves-gradient: $dark-red;
$sul-pagination-active-bg: $gray-41-percent;
$sul-body-bg: $color-beige-05;
$sul-text-color: $color-black;
$sul-panel-bg: $white;
$sul-panel-border: $color-beige-30;
$sul-panel-border-bottom: $color-beige-30;
$sul-panel-heading-default: $color-beige-30;
$sul-preview-border: $color-beige-30;
$sul-facet-bg: $color-beige-10;
$sul-facet-border: $color-beige-30;
$sul-facet-active-bg: $color-pantone-5665;
$sul-facet-active-border: $color-pantone-5665;
$sul-facet-active-heading-color: $color-black;
$sul-filmstrip-border: $color-beige-30;
$sul-filmstrip-bg: $color-beige-05;
$sul-btn-preview-bg: $cadet-blue;
$sul-h1-font-color: $color-gray;
$sul-h2-font-color: $color-cardinal-red;
$sul-h2-border-color: $color-beige-30;
$sul-skip-to-nav-bg: $color-beige-10;
$sul-toolbar-bg: transparent;
$sul-toolbar-border: $color-beige-40;
$btn-sul-toolbar-bar-color: $color-cardinal-red;
$btn-sul-toolbar-bar-hover-bg: $color-beige-30;
$sul-document-border-color: $color-beige-30;
$sul-document-border-bottom-color: $color-beige-30;
$sul-mini-accordion-text-color: $gray-46-percent;
$sul-gallery-callnumber-bar-bg: $color-pantone-405;
$sul-gallery-callnumber-bar-color: $color-beige-05;
$sul-gallery-fakecover-bg: $color-beige-05;
$sul-gallery-fakecover-border: $color-beige-10;
$sul-gallery-cover-height: 195px;
$sul-osd-viewer-border: $color-beige-30;
$sul-osd-viewer-toolbar-background: $color-beige-10;
$sul-clear-input-icon-color: $gray-70-percent;
$sul-clear-input-icon-hover-color: $color-cardinal-red;
$sul-masthead-bg: $off-green;
$sul-masthead-border: $color-pantone-5665;
$sul-pagination-active-bg-border: $gray-41-percent;
$sul-btn-disabled-color: $color-gray;
$sul-btn-disabled-opacity: 0.75;
$sul-main-title-date-color: $gray-46-percent;
$sul-browse-nearby-container-border: $color-beige-30;
$sul-browse-nearby-container-gradient-bg: $color-pantone-405;
$sul-browse-nearby-control-bg: #928B81;
$sul-stackmap-image-border-color: $gray-90-percent;
$sul-icon-refworks-color: $strong-red;
$sul-icon-endnote-color: $mostly-pure-orange;
$sul-tooltip-bg: $cadet-blue;

// Sizes
$gallery-document-width: 176px;
$gallery-document-height: 400px;
$sul-constraint-btn-radius: 15px;
