<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Electronic Theses &amp; Dissertations Landing Page</title>
    <%= stylesheet_link_tag 'site' %> 
  </head>
  <body>
    <div id="container">
      <div id="header"></div>
      <div id="banner"><h1>Electronic Theses &amp; Dissertations Landing Page</h1></div>
      <div id="contents">
        <%= yield %>
      </div>
	  <div id="footer">
        <%= render :partial => 'footer' %>
	  </div>
	</div>
  </body>
</html>
