<html>
  <head>   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>Stanford Digital Repository</title>
    <%= stylesheet_link_tag 'purl_embed', 'zpr' %> 
  </head>
  <body>
    <div class="pe-container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'jquery', 'purl_embed', 'cselect', 'zpr' %>
    <%= render :partial => 'purl/image/json_embed' %>
    <script type="text/javascript">
      $(function() { var pe = new purlEmbed(peImgInfo, pePid, peStacksURL); });
    </script>        
  </body>
</html>
